/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        padding-left: 8vh !important;
        padding-right: 8vh !important;
    }    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        padding-left: 10vh !important;
        padding-right: 10vh !important;
    }    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        padding-left: 10vh !important;
        padding-right: 10vh !important;
    }  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        padding-left: 10vh !important;
        padding-right: 10vh !important;
    }    
}

a:active, 
a:focus,
button:active,
button:focus {
 outline: 0;
 border: none;
}

html, body {
    height: 100%;
    background: #061F2F;
}

.navbar {
    background: #515271;
}

.font-blue {
    color: #9FC1F5;
}

.font-white {
    color: white;
}

.full-height {
    height: 100%;
}

.font-24 {
    font-size: 24px;
}

.font-18 {
    font-size: 18px;
}

.border-white {
    border:1px solid white;
}

#main-img {
    padding: 2em 0;
}

.padding-none {
    padding: 0;
}

.container {
    padding: 8vh;
}

.row {
    margin: auto;
}

.col-md-6 {
    padding: auto;
}

.card {
    padding-left: 0.2em;
    padding-right: 0.2em;
}